body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #6200ea;
    color: #fff;
    padding: 1rem;
}

footer {
    background-color: #eee;
    padding: 1rem;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
